<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="icon" href="favicon.png" size="any" />

<!--
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
-->

<title>test</title>

<style>

.bold {
    font-weight:bold;
}

.active {
    color:red;
}

.err {
    background-color:blue;
}

.warn {
    background-color:green;
}




</style>

</head>

<body>

<div id="app">

    <p>:key属性で一意に</p>
    <ul>
        <li v-for="user in users" :key="user.id">名前:{{ user.name }} 年齢:{{ user.age }}</li>
    </ul>

    <p>computedでArray.sort/reverseはコピーデータを使う</p>
    <ul>
        <li v-for="n in sortNumbers">番号:{{ n }}</li>
    </ul>
    <button @click="toggleNumber()">ソート</button>

    
</div>

<script type="module">

//https://ja.vuejs.org/guide/essentials/list.html

//ESモジュール利用
import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

//モジュール分割
import Component from './component3.js'

createApp(Component).mount('#app')

</script>

</body>

</html>

